html {
    font-size: 14px;
    background-color: #363636;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
img {
    width: 930px;
    padding: 5px;
}

body {
    margin-bottom: 60px;
    background-color: #363636;
}

navbar {
    background-color: #363636;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.mainnn {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.text--medium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #312E2E;
}

.text--medium-startbtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
}

.editbtn {
    background-image: url(images/border_color_24px.png)
}


.cards {
    padding-top: 100px;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 80px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    .card:hover {
        transform: translateY(-7px);
    }

.card__image-container {
    width: 75%;
    align-self: center;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}


    .card__image-container img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.card__content {
    padding: 30px;
    color: #ffffff;
}

.card__title {
    margin-bottom: 20px;
    color: #ffffff;
}

.card__info {
    display: flex;
    align-self: end;
    align-items: center;
    color: #ffffff;
}

.card__btn {
    margin-right: auto;
    padding: 5px 20px;
    width: 137px;
    height: 40px;
    background: #3755B7;
    border-radius: 6px;
}

@media only screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }
}
.addbtn {
    box-sizing: border-box;
    position: absolute;
    width: 118px;
    height: 36px;
    left: 135px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: none;
    background: #FBFBFB;
    border: 2px solid #000000;
    border-radius: 7px;
}

