@{
    var commands = (List<CommandModel>)ViewData["commands"];
    var id = (int)ViewData["id"];

}

@foreach (var command in commands)
{
    if (id == command.id)
    {




        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@command.name</h5>
                <p class="card-text">@command.des</p>
            </div>
        </div>


    }

    else if (id == -1)
    {




        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@command.name</h5>
                <p class="card-text">@command.des</p>
            </div>
        </div>


    }


}
