@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img src="images/landing.png" />
    <button style="color:blue" onclick="location.href='@Url.Action("Index","Command")'">START</button>



</div>

