@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img src="~/images/toppic.svg" style=" width: 715.69px; height: 283px; " />

    <img src="~/images/term.gif" style=" width: 752px; height: 110px; display: inline-flex " />
    <br />
    <button style="background: #3F43CB; border-radius: 8px; width: 120px; height: 42px; text-align: center; font-style: normal; font-weight: 500; font-size: 20px; line-height: 0px; color: #D3D3D3; margin-top:30px;" onclick="location.href='@Url.Action("Index","Command")'">Start</button>


</div>

