@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
<li class="nav-item" style="right: 120px; top: 30px;">
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login" style="padding:19px;" >Login</a>

</li>
    <li class="nav-item" style="right: 50px; top: 50px;">
        <a class="nav-link text-light" style="background-color: #222222; border-radius: 5px; margin: 12px; padding: 9px" asp-area="Identity" asp-page="/Account/Register">  Register  </a>

    </li>
}
</ul>

