@{
    var Commands = (List<CommandModel>)ViewData["Commands"];
}

<main class="mainnn">
    <input type="Submit" onclick="location.href='@Url.Action("Create","Command")'" value="+" class="addbtn" />


    <p class="side-bar-tl">Commands</p>
    <div class="side-bar">
        <a href="/Command">System</a>
        <a href="/Command/Docker">Docker</a>
        <a>Git</a>

    </div>
    <section class="cards">


        <div class="topcard">
            <div class="topcard__content">


                <div class="topcard-body">
                    <div class="topcard__image-container">
                        <img style=" width: 65px; " src="~/images/unarchive_24px_rounded.svg" />
                    </div>

                    <a class="topcard__title text--medium toplinks" href="Command/Storage">Storage and Device</a>

                </div>

            </div>
        </div>

        <div class="topcard1">
            <div class="topcard__content">


                <div class="topcard-body">
                    <div class="topcard__image-container">
                        <img src="~/images/file_copy_24px_rounded.svg" />
                    </div>

                    <a class="topcard__title text--medium toplinks" href="Files">Files and Directories</a>


                </div>

            </div>
        </div>
        <div class="topcard2">
            <div class="topcard__content">


                <div class="topcard-body">
                    <div class="topcard__image-container">
                        <img src="~/images/format_color_text_24px_rounded.svg" />
                    </div>

                    <a class="topcard__title text--medium toplinks" href="Localization">Localization</a>


                </div>

            </div>
        </div>


    </section>

    <section class="cards">

        @foreach (var Command in Commands)
        {
            if (Command.sub == "Storage")
            {
                <!--<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">-->

                <div class="card">
                    <div class="card__content">


                        <div class="card-body">
                            <div class="card__image-container-storage">
                                <div></div>
                            </div>

                            <h5 class="card__title text--medium">@Command.name</h5>


                            <p class="card__title">@Command.des</p>

                            <div class="card__info">


                                <a style="color:white" href="/Command/Edit/@Command.id"><img class="btnimage" src="~/images/border_color_24px.svg" /></a>

                                <form method="post" asp-action="Delete" asp-controller="Command" asp-route-id="@Command.id">
                                    <input class="btnimage" type="image" src="~/images/delete_24px.svg" style="height:20px; width:20px " />


                                </form>

                            </div>
                        </div>

                    </div>
                </div>
                <!--                                <input type="submit" class="card__btn text--medium-startbtn" value="Delete" />
                    -->
            }
        }


    </section>
</main>